In [15]:
from sklearn.svm import SVR as svr 
from sklearn.preprocessing import StandardScaler as ss

In [24]:
regr=svr()

In [7]:
import pandas as pd
from datetime import datetime as dt
co19=pd.read_csv('covid_19_india.csv')
co19.columns
co19.dtypes
co19['Date']=pd.to_datetime(co19['Date'])
co19['Date']=co19['Date'].map(dt.toordinal)
df=co19.groupby(co19['Date']).sum()
y=df['Deaths'].values
x=co19['Date'].unique()

In [16]:
sx=ss()
sy=ss()

In [19]:
x=sx.fit_transform(x.reshape(-1,1))
y=sy.fit_transform(y.reshape(-1,1))

In [13]:
co19

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,737454,6:00 PM,Kerala,1,0,0,0,1
1,2,737455,6:00 PM,Kerala,1,0,0,0,1
2,3,737456,6:00 PM,Kerala,2,0,0,0,2
3,4,737457,6:00 PM,Kerala,3,0,0,0,3
4,5,737458,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
18105,18106,738013,8:00 AM,Telangana,-,-,638410,3831,650353
18106,18107,738013,8:00 AM,Tripura,-,-,77811,773,80660
18107,18108,738013,8:00 AM,Uttarakhand,-,-,334650,7368,342462
18108,18109,738013,8:00 AM,Uttar Pradesh,-,-,1685492,22775,1708812
18109,18110,738013,8:00 AM,West Bengal,-,-,1506532,18252,1534999

In [25]:
regr.fit(x,y)

C:\Users\numam\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR()

In [27]:
pred=regr.predict(y)